@import "tailwindcss";

.text-white {
  color: #ffffff;
}

.box-card-design {
  background-color: #18181b;
  border: 2px solid #27272a;
}

/* when the button is set as active */
.active-button {
  background-color: #e7000b;
}
